:root{
    --brand-clr_:#233dd2;
    --heading-clr_:#040b33;
}
html{
    scroll-behavior: smooth;
    scroll-padding: 5rem;
}
body{
    overflow-x: hidden;
}
.icon_,.icon_2{
    margin: 0 .25rem 0 0;
    translate: 0rem .25rem;
    transition: all .5s ease;
}

h4 .icon_:hover{
    animation: rotation 2s linear infinite;
}
.highlight_text{
    color:#10f02e;
    position: relative;
    text-transform: capitalize;
    font-weight: bold;
}

.underline_{
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 100%;
}
.brand_{
    color:#ffffff;
    font-weight:bold;
    transition: scale 500ms ease;
    /* animation: tada 750ms linear; */
}
/* .anime_{
    animation: tada 750ms linear;
} */
.brand_:hover{
    scale: 1.1;
}
.custom_row{
    /* gap:.5rem; */
}
.content_cards{
    padding:2rem 3rem;
    /* border:1px solid hotpink; */
    cursor:pointer;
    border-radius: .25em;
    transition: box-shadow .3s ease-in-out;
}
.content_cards:hover{
    box-shadow: 0 0 35px -2px rgb(0 0 0 / 20%);
}
.content_heading{
    font-weight:bold;
    color:var(--heading-clr);
}
.heading_what_is{
    /* font-size: 1.5rem; */
    font-weight: bold;
    /* color: #10f02e; */
}
.content_icons{
    transition: color 250ms ease-in-out;
}
.content_cards:hover .content_icons{
    color:#233dd2;
}
/* .details_{
} */
.ball_{
    animation: ball_move 4s ease infinite;
    transition: translate 500ms ease;
}
.ball_2{
    animation: ball_move 3s ease-in-out infinite;
    transition: translate 500ms ease;
}

.testimonials_card{
    padding:2rem 5rem;
    /* border:2px solid hotpink; */
    cursor:pointer;
    border-radius: .25em;
    background-color: #040b33;
    color:rgb(216, 212, 212);
}
.person_name{
    font-weight:bold;
    color:var(--heading-clr);
    text-align: center;
    margin:0 0 .5rem 0;
}
.person_img_div{
    display: grid;
    place-content: center;
}
.person_img{
    width:5rem;
}
.shape_color_change{
    background-image: linear-gradient(150deg, #1b1483 15%, #6ed5d0 70%, #efd321 94%)!important;
}
.learning_content{
    /* border:2px solid limegreen; */
    /* display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem; */
    position:relative;
    margin: 3rem 0 0 0;
}
.learining_content_cards{
    /* border:2px solid hotpink; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1rem; 
    /* overflow-x:hidden; */
}
.learning_card {
    /* border: 2px solid rebeccapurple; */
    padding: 1rem;
    box-shadow: 4px 5px 4px #33333336;
    background: #ffffff9e;
    border-radius: .25em;
    position: relative;
    transition: box-shadow .25s ease-in-out;
    cursor: pointer;
}
.learning_card:hover{
    box-shadow: 0 0 35px -2px rgb(0 0 0 / 20%);
}
.learning_card:nth-child(1):hover .icon_2{
    color: #3c53e7;
}
.learning_card:nth-child(2):hover .icon_2{
    color: #d93ce7;
}
.learning_card:nth-child(3):hover .icon_2{
    color: #e73c45;
}
.learning_card:nth-child(4):hover .icon_2{
    color: #cde73c;
}
.learning_card:nth-child(5):hover .icon_2{
    color: #3ce7b4;
}
.learning_card:nth-child(6):hover .icon_2{
    color: #783ce7;
}
.learning_card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    border-radius: 1rem 0 0 1rem;
}

.learning_card:nth-child(1):before{
    /* background-color: #6de73c; */
    background-color: #3c53e7;
}
.learning_card:nth-child(2):before{
    background-color: #d93ce7;
}
.learning_card:nth-child(3):before{
    background-color: #e73c45;
}
.learning_card:nth-child(4):before{
    background-color: #cde73c;
}
.learning_card:nth-child(5):before{
    background-color: #3ce7b4;
}
.learning_card:nth-child(6):before{
    background-color: #783ce7;
}
.learning_content_img {
    position: absolute;
    /* width: 100%; */
    /* height: 100%; */
    top: 0;
    left: 0;
    translate: 0rem 1rem;
    z-index: -1;
}
.accent_ {
    width: 100%;
    font-size: 14rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #233dd20f;
    text-overflow: clip;
}
.skills_Section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.skills_box{
    padding:1rem;
    border:2px solid rgb(255, 255, 255);
    border-radius: .25em;
    cursor: pointer;
}

.skills_content{

}
.skills_img_container {
    height: 100%;
}
.skill_left_img {
    width: 100%;
}
.courseOverview_section{
    border:2px solid #233dd2;
    border-radius: .25em;
    min-height: 30vh;
    cursor: pointer;
    
}
.courseOverview_section_box{
    padding:2rem;
}

.course_content{
    justify-content: center;
    position: relative;
    /* overflow-x: hidden; */
}
.course_content>i{
    position: absolute;
    font-weight: bold;
    font-size: 30rem;
    opacity: .175;
    top:0;
    left:0;

}
.course_content_heading{
}
.course_content_heading h4{
    position: -webkit-sticky;
    position: sticky!important;
    top:14vh;
    border-radius: .25em;
    cursor: pointer;
    background-color: #233dd2;
    color: #fff;
    padding: 1rem;
}
.course_content_heading h4:hover i{
     translate: 1rem .25rem;
}
.course_content_tree{
    display: flex;
    justify-content: center;
    align-items: center;

}
  
  .tree,
  .tree ul {
    margin:0 0 0 1em;
    padding:0;
    list-style:none;
    color:#233dd2;
    position:relative;
  }
  
  .tree ul {margin-left:.5em}
  
  .tree:before,
  .tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid;
  }

  li li{
    color:#697ad8;
  }
  
  .tree li {
    margin:0;
    padding:0 1.5em;
    line-height:2em;
    font-weight:bold;
    position:relative;
  }
  
  .tree li:before {
    content:"";
    display:block;
    width:10px; 
    height:0;
    border-top:1px solid;
    margin-top:-1px; 
    position:absolute;
    top:1em;
    left:0;
  }
  
  .tree li:last-child:before {
    background:white; 
    height:auto;
    top:1em; 
    bottom:0;
  }
  .container_close{
    padding: .5rem 0;
    background-image: url('../../assets/img/ill/1.svg');
    background-repeat: no-repeat;
  }
  .targetted_companies_box{
    width: 100%;
    padding: 3rem;
    margin: 0 0 2rem 0;
    box-shadow: 1px 2px 3px #33333336;
    transition: box-shadow .25s ease-in-out;
    background-color: white;
  }
  .targetted_companies_box:hover{
    box-shadow: 0 0 35px -2px rgb(0 0 0 / 20%);
  }
  .targetted_companies_box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .products_boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  .product_box{
    width: 100%;
    padding: 2rem 1rem;
    margin: 0 0 2rem 0;
    box-shadow: 1px 2px 3px #33333336;
    transition: box-shadow .25s ease-in-out;
    background-color: white;
    cursor: pointer;
  }
  .product_box:hover{
    box-shadow: 0 0 35px -2px rgb(0 0 0 / 20%);
  }
  .shape_color_change_2{
    background: linear-gradient(150deg, #1b1483 15%, #c551b7 70%, #ed15d5 94%)!important;
}

.company_img{
    border-radius: 50%;
    padding:2rem;
    aspect-ratio: 1/1;
    border:2px solid hotpink;
}
.company_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.icon_3::before{
 display: none;
}
.icon_3{
    --width:7rem;
    width: var(--width)!important;
    aspect-ratio: 1/1!important;
    height: var(--width)!important;
    padding:1.25rem;
}
.icon_3 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.aws_cracked_students{
 display: flex;
 gap:1rem;
 margin: 0 0 1rem 0;
}
.aws_cracked_img{
    width: 5rem!important;
    height: 5rem!important;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.aws_cracked_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}
/* .aws_cracked_name {
    display: flex;
    justify-content: center;
    align-items: center;
} */
@media screen and (max-width: 992px) {
    .learining_content_cards{
      grid-template-columns: repeat(2, 1fr);
      place-self: center;
    }
  }
  @media screen and (max-width: 734px) {
    .learining_content_cards, .skills_Section{
      grid-template-columns: repeat(1, 1fr); 
      place-self: center;
    }
  }
  @media screen and (max-width: 580px) {
    .course_content_heading h4{
        background-color: unset;
        color: #233dd2;
        padding: unset;
    }
  }
@media screen and (max-width:992px) {
    .learning_content_img{
        display: none;
    }
}

/* @keyframes tada{
    0%{
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    }
    100%{
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }
} */


@keyframes ball_move{
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(.175rem,.175rem);
    }
    100%{
        transform: translate(0,0);
    }
}
@keyframes rotation {
    100% {
      transform: rotate(360deg);
    }
  }



@media screen and (max-width: 368px) {
    .brand_{
        font-size: 1.5rem;
    }
    .testimonials_card{
        padding:1rem 2.25rem;
        margin:0 0 3rem 0;
    }
}